@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
#home_container{
    position: relative;
    top: 25vh;
    color: rgb(241, 234, 234);
    font-weight: bold;
    font-size: 1.4rem;
 
    font-family: 'Cormorant Garamond', serif;
   
}
body{
    background: rgba(0,0,0,0.6)url(./pexels-kampus-production-5940838.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position-y:center ;
    background-blend-mode: darken;
    
    

}
